.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 50%;
    margin-left: 35%;
    width: 450px;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(252, 252, 252, 0.74); 
}
  
/* Modal Content */
.modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    height: 85%;
    border-radius: 10px;

}

.modal p{
    font-family: 'Comfortaa', cursive;
}

  
#clo{
    height: 10%;
}

.ficon{
    color: blueviolet;
    margin-top: 15px;
}
#eachA{
    display: flex;
}

#scanTo{
    height: 50px;
    border-radius: 25px;
    padding: 5px;
    width: 45%;

}