@media screen and (max-width: 600px) {
  #ppage {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    font-family: 'Comfortaa', cursive;
    height: 100%;
    width: 100vw;
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(228, 236, 234);
  }
}

@media screen and (min-width: 600px){
  #ppage {
    display: none;
    margin-left: 36%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    font-family: 'Comfortaa', cursive;
    width: 28vw;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(228, 236, 234);
  }
}

#accheader {
  height: 8%;
  display: flex;
  background-color: white;
}

.back {
  color: rgb(0, 0, 0);
  margin: 40px;
}

#accheader p {
  margin-top: 40px;
}

#accphoto {
  height: 20%;
}

#accphoto p {
  padding: 25px 40px 10px 40px;
}

#accphoto img {
  border-radius: 50%;
  width: 80px;
  margin: 0px 40px 10px 40px;
  height: auto;
}

#accdetails {
  height: 65%;
  padding-top: 10px;
}

.accinfo {
  height: 10%;
  background-color: white;
  border: 0.5px rgb(231, 224, 224) solid;
  padding: 5px 10px 20px 20px;
  display: flex;
  /* margin-right: 0px; */
}

.carats {
  position: absolute;
  right: 10%;
  margin-top: 30px;
}
