@media screen and (max-width: 600px) {
  #ppage {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    font-family: Karla;
    height: 100%;
    width: 100vw;
    overflow: auto; /* Enable scroll if needed */
    background-color: #F8F8F8;
  }
}

@media screen and (min-width: 600px){
  #ppage {
    display: none;
    margin-left: 36vw;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0%;
    font-family: Karla;
    width: 28vw;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: #F8F8F8;
  }
}

#accheader {
  height: 10vh;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
}

#signinbtn {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.back {
  color: rgb(0, 0, 0);
  padding: 4vh;
}

#accheader p {
  margin-left: 12%;
  margin-top: 3.5vh;
}

#accphoto {
  height: 15%;
}

#accphoto p {
  padding: 5px 40px 0px 25px;
}

#accphoto img {
  border-radius: 50%;
  width: 80px;
  margin: 0px 40px 10px 40px;
  height: auto;
}

#accdetails {
  height: 65%;
  padding-top: 10px;
}

.accinfo {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 10px;

  color: #1F2326;

  height: 8vh;
  background-color: white;
  border: 0.5px rgb(231, 224, 224) solid;
  padding: 15px 0px 15px 25px;
  display: flex;
  flex-direction: column;
  /* margin-right: 0px; */
}

.accinfoinput {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 10px;

  color: #1F2326;

  height: 8vh;
  background-color: white;
  border: 0.5px rgb(231, 224, 224) solid;
  padding: 5px 10px 20px 20px;
  display: flex;
  /* margin-right: 0px; */
}

.carats {
  position: absolute;
  right: 10%;
  margin-top: 20px;
}
