@media screen and (max-width: 600px) {
  #accinfo {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0%;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    width: 100vw;
    overflow: auto; /* Enable scroll if needed */
  }

  #accinfoC {
    margin-top: 60%;
    height: 44%;
    width: 100vw;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (min-width: 600px) {
  #accinfo {
    display: none;
    position: fixed;
    margin-left: 36%;
    z-index: 3;
    left: 0;
    top: 0%;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    width: 28vw;
    overflow: auto; /* Enable scroll if needed */
  }

  #accinfoC {
    margin-top: 60%;
    height: 35%;
    width: 28vw;
    border-radius: 22px;
    background-color: rgb(255, 255, 255);
  }

}

#accinfoC input {
  margin-bottom: 4px;
}

#detailName {
  padding-top: 20px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  color: #1F2326;
}
#accinfoC p,
input {
  margin-left: 25%;
}

#accinfoC input {
  border-radius: 10px;
  width: 50%;
  height: 30px;
}

#savebtn {
  margin-top: 2vh;
  border-radius: 3vh;
  width: 45%;
  height: 6vh;
  background-color: #662D91;
}

#notavailable {
  margin-top: 2vh;
  border-radius: 3vh;
  width: 45%;
  height: 6vh;
  background-color: #a1a1a1;
}

#cancelbtn {
  margin-top: 5%;
  border-radius: 20px;
  width: 50%;
}
.btn{
  background-color: #662D91;
}
