@media screen and (max-width: 600px) {
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0; 
    bottom: 0%; 
    height: 45vh;
    border-radius: 10px 10px 0px 0px; 
  }

  /* Modal Content */
  .modal-content {
    background-color: white;
    width: 100vw;
    height: 45vh;
    border-radius: 10px 10px 0px 0px;
  }


  #clo{
    width: 100vw;
    height: 4vh;
    top: 2vh;
  }


}

@media screen and (min-width: 600px) {

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    margin-left: 36%;
    top: 55vh;
    left: 0;
    height: 45vh;
    border-radius: 10px 10px 0px 0px;
  }
 
  /* Modal Content */ 
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 28vw;
    height: 45vh;
    border-radius: 10px;
    border-radius: 10px 10px 0px 0px;
  }

  #clo{
    width: 28vw;
    height: 4vh;
    top: 2vh;
  }

}

@media screen and (min-height: 700px){
  #timertext{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #1f2326;
    line-height: 1px;
    z-index: 1;
    text-align: center;
  }

  #timertext2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #1f2326;
    /* line-height: 1px; */
    z-index: 1;
    text-align: center;
  }

  #finishcost{
    font-family: Karla;
    font-style: normal;
    font-size: 20px;
    color: #1f2326;
    padding-top: 2%;
    z-index: 1;
    text-align: center;
  }
}

@media screen and (max-height: 700px){
  #timertext{
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #1f2326;
    line-height: 1px;
    padding-top: 2%;
    z-index: 1;
    text-align: center;
  }

  #timertext2{
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #1f2326;
    /* line-height: 1px; */
    z-index: 1;
    text-align: center;
  }

  #finishcost{
    font-family: Karla;
    font-style: normal;
    font-size: 15px;
    color: #1f2326;
    padding-top: 2%;
    z-index: 1;
    text-align: center;
  }

}

#rate{
  font-family: Karla;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 20px;
  color: #1f2326;
  line-height: 1px;
  padding-top: 10%;
  z-index: 1;
  text-align: center;
}

#thankyou{

  font-style: normal;
  font-family: Karla;
  font-size: 20px;
  color: #4d4d4d;
  padding-top: 5vh;
  z-index: 1;
  text-align: center;
}


#completeclick{
  margin-top: 20%;
  margin-left: 35%;
  text-align: center;
  height: 50px;
  border-radius: 50px;
  padding: 5px;
  width: 45%;
  background-color: #662D91;
}

#timerclick{
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  width: 45%;
  height: 6vh;
  background-color: #662D91;

  
}


#startclick{
  border-radius: 50px;
  border: none;
  padding: 5px;
  width: 45%;
  height: 6vh;
  cursor: pointer;
  text-decoration: none;
  background-color: #662D91;
  font-size: 15px;
  margin-left: 28%;
  font-family: Karla;
  color: rgb(255, 255, 255);
  margin-top:2%;
} 

/* #inputdigit p,input { */
  /* margin-left: 15%; */
  /* border-radius: 50px; */
  /* padding: 5px; */
  /* text-align: center; */
  /* margin-left: 19vw; */
  /* height:6vh; */
  /* width:25vh;  */
/* }  */


.ficon {
  color: #662D91;
}
#eachA {

  display: flex;
}
#amenity {
  color: #ffffff;
  
}

#scanTo {
  height: 6vh;
  border-radius: 3vh;
  padding: 5px;
  width: 45%;
  background-color: #662D91;
}