@media screen and (max-width: 600px) {
  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 50%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    overflow: auto; /* Enable scroll if needed */
  }

  /* Modal Content */
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 100vw;
    height: 50vh;
    border-radius: 10px;
    align-items: center;
  }

}

@media screen and (min-width: 600px) {

  .modal {
    display: block;
    position: fixed;
    z-index: 1;
    margin-left: 36%;
    left: 0;
    top: 50%;
    height: 50%;
    border-radius: 10px 10px 0px 0px;
    overflow: auto; /* Enable scroll if needed */
  }

 
  /* Modal Content */ 
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 28vw;
    height: 50vh;
    border-radius: 10px;
    
  }

}

#timertext{

  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #1f2326;
  line-height: 1px;
  padding-top: 40%;
  z-index: 1;
  text-align: center;
}

#thankyou{

  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #1f2326;
  line-height: 1px;
  padding-top: 40%;
  z-index: 1;
  text-align: center;
}

#completeclick{
  margin-top: 20%;
  margin-left: 35%;
  text-align: center;
}

#timerclick{
  margin-left: 40%;
  text-align: center;
}


.modal p {
  font-family: 'Comfortaa', cursive;
}

#clo {
  height: 10%;
}


.ficon {
  color: blueviolet;
  margin-top: 15px;
}
#eachA {
  display: flex;
}

#scanTo {
  height: 50px;
  border-radius: 25px;
  padding: 5px;
  width: 45%;
}
