body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  background: #662D91;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
 
}


.btn:hover{
  font-size: 17px;
  color: #fff;
}


.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  color: #fff
}

.loginbtn {
  font-weight: bold;
  display: inline-block;
  background: #662D91;
  color: #fff;
  border: none;
  padding: 15px 60px;
  margin: 5px;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.loginbtn:hover{
  font-size: 17px;
  color: #fff;
}

.login {
  color: #662D91;
  cursor: pointer;
  font-family: inherit;
}

.profpic{
  display: flex;
  margin-top: 15%;
  margin-bottom: 3%;
}

#profpic{
  display: flex;
  margin-top: 10%;
}

.details{
  display: flex;
  /* border: 2px solid gray; */
  width: 100%;
}

#ic{
  margin: 30px;
}

#left{
  margin: 30px;
}