body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  background-color: gray;

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn {
  display: inline-block;
  background: rgb(81, 17, 165);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  margin: 5px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
}

.btn:focus {
  outline: none;
 
}

.btn:hover{
  color: #fff;
}


#mainlayout{
  /* margin-left : 35% */
  width: 450px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

#topbanner{
  height: 9%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#signout{
  margin-left: 70px;
  margin-top: 20px;
  background: rgb(204, 206, 207);
  color: rgb(0, 67, 88);
}

#profilepic{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
#profile{
  display: flex;
  margin: 10px;
}
#profile p{
  margin-left: 5px;
  font-weight: 800;
  color: rgb(204, 206, 207);
  font-family: 'Comfortaa', cursive;
}
#logo{
  height: 40%;
  margin-top: 9%;
}

#bottomnav{
  height: 16%;
  display: flex;
  justify-content: center;
}

#acountBtn{
  margin-left: 40%;
}

.botIcons{
  color: rgb(255, 255, 255);
  width: 8%;
  height: auto;
  /* margin-left: 18%; */

}

#signin{
  margin-left: 20%;
  border-radius: 30px;
  height: 50px;
  width: 60%;
}

#signup{
  margin-left: 20%;
  border-radius: 30px;
  height: 50px;
  width: 60%;
  text-decoration: none;
  background: none;
  color:rgb(102, 45, 145) ;
}

#logot{
  margin-left: 30%;
  margin-top: 65%;
  margin-bottom: 12%;
  width: 200px;
  height: 10%;
}

#signinpage{
  display: block;
  width: 100%;
  height: 100%;
}

